#left{float:left;width:50%;height:1000px;background-color: #0f8bd3;}
#right{float:left;width: 50%;height: 1000px;background-color: #0fd399;}

#chance{position: fixed;top:50px;left:50px}
#wodeshuru {position: fixed;top: 300px;left: 700px;}
#diannaoshuchu {position: fixed;top: 300px;right: 700px;}
#fenshu{position: fixed;top: 50px;left: 870px;color: white;}
#judge{position: fixed;top:300px;left:920px;color: white;}
